
.ft_section {
  padding: 25px 0;
}

.flex-align-center {
  align-items: center; }

.flex-justify-center {
  justify-content: center; }

.flex-align-space-around {
  align-items: space-around; }

.flex-justify-space-around {
  justify-content: space-around; }

.flex-align-space-between {
  align-items: space-between; }

.flex-justify-space-between {
  justify-content: space-between; }

.flex-align-flex-start {
  align-items: flex-start; }

.flex-justify-flex-start {
  justify-content: flex-start; }

.flex-align-stretch {
  align-items: stretch; }

.flex-justify-stretch {
  justify-content: stretch; }