
$theme_hex_primary: #00457c;
$theme_hex_secondary: #002b4f;

$accent_hex_primary: #ee6522;
$accent_hex_secondary: #d35624;

$font_hex_primary: #494B4D;
$font_hex_secondary: #171819;


$color__dark: #231f20 ;
$color__dark-grey: #414042;
$color__grey: #ebecf1;
$color__light-grey: #edeeee;

$color__background-body: #fff;
$color__background-very-dark-gray: #302b2c;
$color__background-dark-gray: #514c4f;
$color__background-gray: #7b7979;
$color__background-light-gray: #dddddd;
$color__background-very-light-gray: #e5e5e5;
$color__background-off-white: #f0efef;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

