
$input-color__text: #8f9194;
$input-color__text-focus: #111;

$input-color__background: #ffffff;

$input-color__border: #b8babc;
$input-color__border-focus: #00457c;

$input-padding: 20px 15px;
$input-margin: 0;

$color__border-abbr: #302b2c;
